{% extends 'base.html' %}

{% block content %}

<h1>{{ pet.name }}</h1>

{% if pet.photo_url %}
<img class="pet-photo" src="{{ pet.photo_url }}">
{% endif %}

<p class="pet-species">The {{ pet.species }}</p>

{% if pet.age %}
<p class="pet-age">Is {{ pet.age }} years old</p>
{% endif %}


<h2>Update</h2>

<form action="" method="POST">
    {{ form.hidden_tag() }}
    {% for field in form
        if field.widget.input_type != 'hidden' %}
    <p>
        {{field.label}}
        {{field}}
    </p>
    {% endfor %}
    <button>Update</button>
</form>

{% endblock %}